<div class="row">
    <div class="col-12 col-md-12 sign-up-body">
      <div class="container-signup ">
            <h2>Crée ton compte</h2>
            <div class="form">
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
            <div class="d-flex justify-content-between">
              <%= f.input :email,
                          required: true,
                          label: "Email",
                          autofocus: true,
                          input_html: { autocomplete: "email" }%>
              <%= f.input :password,
                          label: "Mot de passe",
                          required: true,
                          hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                          input_html: { autocomplete: "nouveau mot de passe" } %>
              </div>
              <%= f.input :password_confirmation,
                          label: "Confirme ton mot de passe",
                          required: true,
                          input_html: { autocomplete: "nouveau mot de passe" } %>
              <%= f.input :nickname,
                          label: "Ton surnom",
                          required: true %>
              <%= f.input :photo,
                          required: false %>
            <div class="d-flex justify-content-between">
              <%= f.input :first_name,
                          label: "Ton prénom",
                          required: true %>
              <%= f.input :last_name,
                          label: "Ton nom",
                          required: true %>
            </div>
            </div>
            <div class="">
              <div class="text-center">
                <%= f.button :submit, "Crée ton compte", class: "btn-home" %>
            </div>
            <% end %>
            <div class="text-center">
             <%= render "devise/shared/links" %>
            </div>
            </div>
      </div>
    </div>
</div>


