
<div class="container-index container-show-bet">

<div>
    <div class="d-flex justify-content-end bet-buttons">
      <%= link_to "Mets fin au bet" , end_bet_path , class:"btn-show-group"%>
      <%= link_to "Modifie le bet" , edit_group_bet_path(@group, @bet) , class:"btn-show-group"%>
    </div>
  <div class="A-1 p-4">
    <div class="bet-infos d-flex justify-content-between">
        <div class="mr-4 d-flex flex-column justify-content-center">
      <div class="pr-4 first-column">

          <div class="I-1 mb-3">
            <%= cl_image_tag @bet.creator.pick_photo, crop: :fill, class:"avatar-x"%>
            <p class = "p-nickname text-center"> <%= @bet.creator.nickname %> </p>
          </div>
          <div>
            <h3 class = "text-center font-weight-bold"><i class="fas fa-bolt"></i></h3>
          </div>
          <div class="I-2 mt-2">
            <%= cl_image_tag @bet.beter.pick_photo, crop: :fill, class:"avatar-x"%>
            <p class = "p-nickname text-center"> <%= @bet.beter.nickname %></p>
          </div>
        </div>
      </div>

      <div class = "ml-3 d-flex flex-column justify-content-between mr-1 mt-4 bet-desc-container">
        <h3 class="text-left font-weight-bold"><%= @bet.description %></h3>
<!--         <div class="d-flex justify-content-between"> -->
          <p class="grey-p"><i class="fas fa-hourglass-half"></i><%=@bet.end_date.to_formatted_s(:rfc822)%> </p>
<!--         </div> -->
        <h4 class="text-left"><i class="fas fa-gift mr-1 "></i><%= @bet.stake %></h4>
        <h5 class="text-left mb-0 trust">Confiance à <%= @bet.difficulty * 10 %> %</h5>
        <% if @bet.target.present? %>
        <div class="text-center">
        <%= cl_image_tag @bet.target.pick_photo, crop: :fill, class:"avatar text-center"%>
        <p class="text-center mb-0"><%= @bet.target.nickname %> 🎯 </p>
        </div>
        <% end %>
      </div>

      <div class=" d-flex flex-column align-items-start justify-content-end last-column">

            <% pre_like = @bet.likes.find { |like| like.user_id == current_user.id} %>
             <p class="grey-p"><i class="fas fa-heart heart-bet"></i> <%= @bet.likes.count %></p>
            <% if pre_like %>
            <div class = "d-flex align-items-center justify-content-center">
            <i class="far fa-heart red"></i>
            <%= button_to 'Unlike',  group_bet_like_path(@group, @bet, pre_like), method: :delete, class: 'like-bet' %>
            </div>
            <% else %>
            <div class = "d-flex align-items-center justify-content-center">
            <i class="far fa-heart red"></i>
            <%= button_to 'Like',  group_bet_likes_path(@group, @bet), method: :post, class: 'like-bet' %>
            </div>
            <% end %>
      </div>
    </div>
  </div>
  </div>

</div>
