
<body>

  <div class="A-1">
    <div class="d-flex justify-content-between">
      <h3 class="HZ"><%= @bet.description %></h3>
      <div class="flex-shrink-1">
      <%= link_to icon("far","trash-alt"), group_bet_path, class: "tippy", method: :delete, data: { confirm: 'Sûr sûr?', "tippy-content" => "Supprimer le bet","tippy-arrow" => true }, style:"margin-top: 20px; margin-left: 6px" %>
      </div>
    </div>
    <div class="avatarcont">
      <div class="I-1">
        <%= cl_image_tag @bet.creator.pick_photo, crop: :fill, class:"avatar-x"%>
        <br/>
        <%= @bet.creator.nickname %>
      </div>
      <div class="I-2">
        <%= cl_image_tag @bet.beter.pick_photo, crop: :fill, class:"avatar-x"%>
        <br/>
        <%= @bet.beter.nickname %>
      </div>
    </div>
    <div class="A-2">
      <div class="C-2">
        <div class="d-flex justify-content-start" style="margin-right: 180px;margin-top: 30px;">
          <%= image_tag @group.photo, class: 'group-index-image mr-2', style: "border-radius: 50%"%>
            <div display-wrap>
              <p><i class="fas fa-gift"></i><%= @bet.stake %></p>
              <p><i class="fas fa-theater-masks"></i><%= @bet.difficulty %> / 10</p>
              <p><i class="fas fa-hourglass-half"></i> <%=@bet.end_date.to_formatted_s(:rfc822)%> </p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="button_bets">
  <%= link_to "Mets fin au pari" , end_bet_path , style:"color: black", class:"btn-home"%>
  <%= link_to "Modifies ton pari" , edit_group_bet_path(@group, @bet) , style:"color: black", class:"btn-home"%>
  </div>
</div>
</body>
