
<body>

  <div class="A-1">
  <div class="d-flex justify-content-center">
    <h3 class="HZ"><%= @bet.description %></h3>
    </div>
    <div class="avatarcont">
      <div class="I-1">
        <%= cl_image_tag @bet.creator.pick_photo, crop: :fill, class:"avatar-x"%>
        <br/>
        <%= @bet.creator.nickname %>
      </div>
      <div class="I-2">
        <%= cl_image_tag @bet.beter.pick_photo, crop: :fill, class:"avatar-x"%>
        <br/>
        <%= @bet.beter.nickname %>
      </div>
    </div>


    <div class="A-2">
      <div class="C-2">
      <div class="d-flex justify-content-start" style="margin-right: 180px;margin-top: 30px;">
      <%= image_tag @group.photo, class: 'group-index-image mr-2', style: "border-radius: 50%"%>
      <div display-wrap>
      <p><strong>Enjeu: </strong><%= @bet.stake %></p>
      <p><strong>Niveau de confiance: </strong><%= @bet.difficulty %> / 10</p>
      <p><strong>Jusqu'au: </strong> 15 Dec 2019</p>
            </div>

      </div>
      </div>
      <div class="C-3">

      </div>
    </div>

  </div>
</body>
