<h2 class="A-1">group bet</h2>

<body>

  <div class="B-1">
    <p>Créateur du pari: <strong> <%= @bet.creator.nickname %></strong></p>
  </div>
  <div class="B-2">
    <p><strong> Betteurs </strong>
      </p>
      <div class="avatarcont justify-content-between">
        <div class="I-1">
          <%= cl_image_tag @bet.group.photo, height: 300, width: 400, crop: :fill, class:"avatar"%>
          <br/>
          <%= @bet.creator.nickname %>
        </div>
        <div class="I-2">
          <%= cl_image_tag @bet.group.photo, height: 300, width: 400, crop: :fill, class:"avatar"%>
          <br/>
          <%= @bet.beter.nickname %>
        </div>
      </div>
  </div>
  <% if @bet.target.present? %>
  <div class="B-3">
    <p>Vicos: <%= @bet.target.nickname %></p>
  </div>
  <% end %>


<p><%= @bet.difficulty %></p>
<p><%= @bet.description %></p>
<p><%= @bet.stake %></p>
</body>
