<h3 class="A-1"><%= @bet.description %></h3>

<body>

  <div class="B-1">
    <p>Créateur du pari: <strong> <%= @bet.creator.nickname %></strong></p>
  </div>
  <div class="B-2">
    <p><strong> Beteurs </strong></p>
    <div class="avatarcont justify-content-between">
      <div class="I-1">
        <%= cl_image_tag @bet.creator.pick_photo, crop: :fill, class:"avatar-xl"%>
        <br/>
        <%= @bet.creator.nickname %>
      </div>
      <div class="I-2">
        <%= cl_image_tag @bet.beter.pick_photo, crop: :fill, class:"avatar-xl"%>
        <br/>
        <%= @bet.beter.nickname %>
      </div>
    </div>
  </div>
  <% if @bet.target.present? %>
  <div class="B-3">
    <%= cl_image_tag @bet.target.pick_photo, crop: :fill, class:"avatar-xl"%>
    <p>Votre victime: <%= @bet.target.nickname %></p>
  </div>
  <% end %>
  <div class="D-1">
    <p><%= link_to "LE BET EST FINI PLUS TÔT QUE PRÉVU ?", end_bet_path(@group, @bet) %></p>
  </div>
  <div class="D-2">
    <p><%= link_to "SUPPRIME LE BET", group_bet_path(@group, @bet), method: :delete %></p>
  </div>
  <div class="D-3">
    <p><%= link_to "MODIFIE LE BET", edit_group_bet_path(@group, @bet) %></p>
  </div>

  <%= button_to 'Like',  group_bet_likes_path(@group, @bet), method: :post, class: 'like-btn' %>
    <p><%= @bet.likes.count %> <%= (@bet.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    <% pre_like = @bet.likes.find { |like| like.user_id == current_user.id} %>
    <% if pre_like %>
    <%= button_to 'Unlike',  group_bet_like_path(@group, @bet, pre_like), method: :delete, class: 'like-btn' %>
    <% else %>
    <%= button_to 'Like',  group_bet_likes_path(@group, @bet), method: :post, class: 'like-btn' %>
    <% end %>


  <div class="B-4">
    <div class="C-1">
      <p><strong>Description:</strong> <br/><br/><%= @bet.description %></p>
    </div>
    <div class="C-2">
      <p><strong>Enjeu:</strong> <br/><br/><%= @bet.stake %></p>
    </div>
    <div class="C-3">
      <p><strong>Niveau de confiance:</strong> <br/><br/><%= @bet.difficulty %> / 10</p>
    </div>
  </div>

</body>
