<div class="container-index justify-content-center align-items-center">

  <div class="mt-4">
    <h2> "<%= @bet.description %>" est terminé ! </h2>
    <h3 class = "text-center mb-4">Alors, qui a gagné <%= @bet.stake %>? </h3>
  </div>

  <div class="winner-text">
    <h2>WINNER 🎉</h2>
  </div>

    <div class="avatar-container-win d-flex flex-column align-items-center justify-content-center">
        <div class="d-flex justify-content-between mt-3">
        <%= simple_form_for @bet, url: save_winner_path(@bet), method: :post do |f| %>
        <div class=" d-flex justify-content-center winner-selection">
          <span class="winner-better">
            <input id="<%= @bet.creator.nickname %>" type="radio" class ="" name="bet[winner]" value="<%= @bet.creator.nickname %>" style="display: none">
            <label for="<%= @bet.creator.nickname %>"> <%= cl_image_tag @bet.creator.pick_photo, class: "avatar-huge  winner-selection"%> </label>
          </span>

          <span>
            <input id="<%= @bet.beter.nickname %>" type="radio" class ="" name="bet[winner]" value="<%= @bet.beter.nickname %>" style="display: none">
            <label for="<%= @bet.beter.nickname %>"> <%= cl_image_tag @bet.beter.pick_photo, class: "avatar-huge  winner-selection " %></label>
          </span>
        </div>

          <div class="d-flex justify-content-center mt-4" >
            <%= f.button :submit, class: "btn-home winner-btn", value: 'Valide ton choix' %>
            <% end %>
          </div>
        </div>

    </div>

</div>


