<%= simple_form_for @group do |f| %>
    <%= f.input :name, label: "Nom du crew", placeholder: 'Place le nom' %>
    <div class = "group-img">

    <% @images_samples.each do |image_name| %>
      <span>
        <input type="radio" class ="mr-2" name="group[photo]" value=<%= "#{image_name}" %>>
        <label style='height: 168px; width: 168px; background-image: url(<%= image_url("#{image_name}") %>); background-size: cover;' class="mr-2 collection_radio_buttons" for="group_photo_"></label>
      </span>
    <% end %>

    </div>
    <div class="d-flex justify-content-center">
        <%= f.button :submit, class: "button_new", value: 'Crée ton crew' %>
    <%# <button type="button" class="create-button"><%= link_to "Retour au dashboard", dashboards_path%>
    </div>
    <% end %>



