


<div class="row">
  <div class="col-12 col-md-12 index-group">
    <div class="container-index">
      <h2>Tes crews</h2>

      <div class="cards-index">
        <% @owner_groups.each do |group| %>

        <div class="d-flex card-index-group justify-content-between">
          <div>
            <%= image_tag group.photo, class: 'group-index-image mr-2'%>
          </div>
          <div class= "d-flex flex-column align-items-center justify-content-center">
            <div clas='link-index-group'> <%= link_to group_path(group)  do %>
              <h3 class= "index-group-writing"><%= group.name %></h3>
              <h4 class= "index-group-writing"><%= Bet.count_en_cours(group.bets) %> paris en cours </h4>
            <% end %>
            </div>
            </div>
            <div>
            <i class="fas fa-cog"></i>
            <%if @groups.include?(group) %>
                <%= link_to icon("far","trash-alt") , group, method: :delete, data: { confirm: 'Sûr sûr?' } %>
            <% else %>
            <% end %>
            </div>

        </div>
        <% end %>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <%= link_to "Crée ton crew", new_group_path, class:"btn-home" %>
    </div>

  </div>
</div>

  <!-- style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ibb.co/fn8tN2D/Cat.png)" -->



