<div class="row">
    <div class="col-12 col-md-12 index-group">
    <div class="d-flex justify-content-end recap">
        
        <%= link_to "Voir ton classement", class:"button_new"%>
        <%= link_to "Voir les paris en cours", class:"button_new"%>
        <%= link_to "Voir les paris terminés", class:"button_new"%>
        <h3>Welcome back <%= current_user.nickname %></h3>
    </div>

        <div class="container">
            <h2><%= @group.name  %></h2>
            <h3>Actuellement <%= @bets.size %> paris en cours</h3>
                <% @bets.each do |bet|%>
                    <div class="d-flex justify-content-start card_bet">
                    <%=bet.description%>
                    <%=bet.end_date%>
                    <%=bet.difficulty%>/10
                    <%=bet.stake%>
                        <div class="d-flex justify-content-start">
                        <%= bet.creator.nickname %><%= cl_image_tag bet.creator.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                        <%= bet.beter.nickname %><%= cl_image_tag bet.beter.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                        </div>
                    </div>  
                    <% end %>        
        </div>
    </div>
</div>
