<div class="row" data-controller="hello">
  <div class="col-12 col-md-12 index-group container-index">
    <div class="d-flex justify-content-end recap">
      <%= link_to "Retourne voir tes crews", groups_path, class: 'btn-home mt-2' %>
      <%= link_to "Quitter ce crew", group_usergroup_path(@group, @usergroup), class: 'btn-home mt-2', method: :delete %>
      <button class="btn-home mt-2" data-action="click->hello#classement">Voir le classement</button>
      <%# <button class="btn-home mt-2" data-action="click->hello#inprogress">Voir les paris en cours</button> %>
      <span data-action="click->hello#donebet" class="btn-home mt-2">Voir les paris terminés</span>
      <!-- Button trigger modal -->
      <button type="button" class="btn-home mt-2" data-toggle="modal" data-target="#exampleModalCenter">
        Invite des potes
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Invite des potes</h5>
              <button type="button" class="close btn-home" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render 'invite_form' %>
              <button type="button" class="btn-home" data-dismiss="modal">Retour</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="d-flex container-index-bet">
  <div class="bet-en-cours flex-grow-1">
<h2><%= @group.name  %> - Les paris en cours 🔥</h2>
    <div class="d-flex align-items-center">

      <%= link_to "Crée un bet", new_group_bet_path(@group), class:"btn-home" %>
    </div>
    <div class="card-show-bet flex-column">
      <% @bets.each do |bet|%>
        <% if bet.over == false  %>
          <div class="card-bet-infos justify-content-between p-4">
          <!-- image_tag 'Batman.png', class: 'img-group-show'-->
            <div class="avatar-bet d-flex flex-column justify-content-center mr-3">
              <div class="img-wrap d-flex flex-column justify-content-center">
                <%= cl_image_tag bet.creator.pick_photo, class: "avatar-large dropdown-toggle avatar1", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <p class="nickname-img"><%= bet.creator.nickname %></p>
              </div>
              <div class="img-wrap d-flex flex-column justify-content-center">
                <%= cl_image_tag bet.beter.pick_photo, class: "avatar-large dropdown-toggle avatar2", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <p class="nickname-img"><%= bet.beter.nickname %></p>
              </div>
            </div>
            <div class = "d-flex flex-column justify-content-center align-items-start mr-3">
              <p><strong>Le bet: </strong> <%=bet.description%></p>
              <p><strong>Le bel enjeu: </strong> <%=bet.stake%></p>
               <% if bet.target.present?  %>
              <p><strong>La cible: </strong>
              <div class="img-wrap d-flex flex-column justify-content-center">
                  <%= cl_image_tag bet.target.pick_photo, class: "avatar-large dropdown-toggle avatar2", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <p class="nickname-img"><%= bet.target.nickname %> 🎯 </p>
                    </div>
              <% end %>
            </div>
            <div class = "d-flex flex-column justify-content-center">
              <p> <strong>Jusqu'au: </strong> <%=bet.end_date.to_formatted_s(:rfc822) %></p>
              <p> <strong>La confiance: </strong> <%=bet.difficulty%>/10</p>
              <p> <%= link_to "Voir le détail du pari", group_bet_path(@group, bet), class: "btn-home" %></p>
              <p> <%= bet.like_number  %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>

    <div class="scoreboard flex-shrink-1">
    <div class="d-flex justify-content-center card-bet-infos2  scoreboard">
      <div data-target="hello.classement" class="visible">
      <h3>Le classement 🚀 </h3>

       <div class="d-flex justify-content-center first_user">
        <div class="avatar-nickname">
          <%= image_tag 'crown.png'  %>
           <div class="img-scoreboard">
                <%= cl_image_tag @usergroup_score[0].user.pick_photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        </div>

       </div>
       <div class="img-score">
        <p><%= @usergroup_score[0].score %>pts<p>
       <h4><%= first_user = @usergroup_score[0].user.nickname%></h4>
        </div>
      </div>

      <% @usergroup_score.each do |usergroup| %>

      <div class = "d-flex justify-content-start">
        <p><%= cl_image_tag usergroup.user.pick_photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <em><%= usergroup.user.nickname %></em>
          <br>
          <strong><%= usergroup.score %> pts</p></strong>
        </div>
        <% end %>
      </div>
</div>

</div>









      <!-- <div class="d-flex flex-column align-items-center justify-content-center text-center"> -->
        <!--           <div class="container"> -->
          <!--         </div> -->
          <!--       </div> -->
          <div class="d-flex justify-content-space-between">
            <div data-target="hello.donebet" class="visible">
              <div class="container">
                <% @bets.each do |bet|%>
                <% if bet.end_date < DateTime.now  %>
                <h3>Actuellement <%= @bets.size %> paris terminés</h3>
                <div class="d-flex justify-content-start card_bet">
                  <%=bet.description%>
                  <%=bet.end_date%>
                  <%=bet.difficulty%>/10
                  <%=bet.stake%>
                  <div class="d-flex justify-content-start">
                    <%= bet.creator.nickname %><%= cl_image_tag bet.creator.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                    <%= bet.beter.nickname %><%= cl_image_tag bet.beter.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  </div>
                </div>
                <% else %>
                <h3>Tous les paris sont en cours 🔥</h3>
                <% end %>
                <% end %>
              </div>
            </div>
          </div>
