
<div class="row" data-controller="hello">
  <div class="col-12 col-md-12 index-group">
    <div class="d-flex justify-content-end recap">
      <button class="btn-home" data-action="click->hello#classement">Voir le classement</button>
      <%= link_to "Voir les paris en cours", group_path, remote: true, id:"bet_in_progress" %>

      <span data-action="click->hello#donebet" class="btn-home">Voir les paris terminés</span> 

      <!-- Button trigger modal -->
      <button type="button" class="button_new" data-toggle="modal" data-target="#exampleModalCenter">
        Invite des potes
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Invite des potes</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render 'invite_form' %>
              <button type="button" class="button_new" data-dismiss="modal">Retour</button>
            </div>
<!--             <div class="modal-footer"> -->
<!--               <button type="button" class="btn btn-primary">Save changes</button> -->
<!--             </div> -->
          </div>
        </div>
      </div>


      <h3>Welcome back <%= current_user.nickname %></h3>
    </div>



    <div data-target="hello.donebet" class="visible">
     <div class="container">
      <h2><%= @group.name  %></h2>

      <% @bets.each do |bet|%>
      <% if bet.end_date < DateTime.now  %>
      <h3>Actuellement <%= @bets.size %> paris terminés</h3>
      <div class="d-flex justify-content-start card_bet">
        <%=bet.description%>
        <%=bet.end_date%>
        <%=bet.difficulty%>/10
        <%=bet.stake%>
        <div class="d-flex justify-content-start">
          <%= bet.creator.nickname %><%= cl_image_tag bet.creator.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <%= bet.beter.nickname %><%= cl_image_tag bet.beter.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        </div>
      </div>
      <% else %>
      <% end %>
      <% end %>
    </div>
  </div>







        <h3>Welcome back <%= current_user.nickname %></h3>
    </div>
    <div class="container">
      <h2><%= @group.name  %></h2>
    <div data-target="hello.element" class="visible">
    <% @usergroup.each do |usergroup| %>
    <% user = User.find(usergroup.user_id) %>
    <% score = usergroup.score %>
    <div class = "d-flex justify-content-center">
    <%= cl_image_tag user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %><%= user.nickname %> a <%= score %>.
    </div>
      <% end %>
    </div>
    </div>

</div>

</div>
